.m{



}
.con{
  margin: 1%;
}
.c1{
  background-color: blue;
padding-right: 2%;
}
.m{
  background-color: red;
  width: 100%;
  margin:1%;
}

.titulo-1{
text-align: start;
background-color:   grey;
color: black;
padding-bottom: 10%;
}
